//Site-general-text-color
$site-txt-clr                   : #000;
$site-txt-clr-2                 : #fff;
$site-txt-clr-3                 : #b0b0ad;
$site-txt-clr-4                 : #7c7a78;
$site-txt-clr-5                 : #999896;
$site-txt-clr-6                 : #d1d0ce;

//Site-general-bg-color
$site-bg-clr                    : #f4f2ef;
$site-bg-clr-2                  : #191b21;
$site-bg-clr-3                  : #f4f2ef;
$site-bg-clr-4                  : #3c3b3a;


//Site-general-border-clr
$site-border                    : #3d3e40;

// Site-main-default-font
$site-font-family-default  : 'ProductSans', sans-serif;