.section3{
    padding: 80px 0;
    &-content{
        display: flex;
        align-items: center;
        @include BootstrapMaxWidthResponsive(md){ 
            flex-direction: column;
        }
        &-right{
            padding: 0 100px;
            @include BootstrapMaxWidthResponsive(md){ 
                text-align: center;
            }
            p{
                padding: 20px 0;
                color: $site-txt-clr-4  ;
            }
            .sctn3-btn{
                button{
                    padding: 15px 35px;
                    background-color: $site-txt-clr;
                    color: $site-txt-clr-2   !important;
                    border-radius: 10px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}