.section1{
    background-color: $site-bg-clr;
    padding: 120px 0;
    &-content{
        display: flex;
        &-left{
            flex: 0 0 auto;
            width: 600px;
            max-width: 100%;
            .title{
                h1{
                    letter-spacing: 3px;
                    color: $site-txt-clr ;
                }
            }
            .about{
                padding: 25px 0;
            }
            .sctn1btn{
                button{
                    padding: 15px 35px;
                    background-color: $site-txt-clr ;
                    color: $site-txt-clr-2 !important;
                    border-radius: 10px;
                    font-size: 1.1rem;
                }
            }
        }
        &-right{
            flex: 1 0 0 ;
            max-width: 100%;
        }
    }
}